@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:ital,wght@0,300..700;1,300..700&display=swap');

body {
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  color: #FFFFFF;
}

.meychain-container {
  background-image: url('./assets/home_bg.png');
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  padding-top: 165px;

  @media only screen and (max-width: 767px) {
    padding-top: 81px;
  }

  position: relative;

  .meychain {

    margin: 0;
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 600;
    font-size: 248px;
    line-height: 298px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.04;
  }

  .home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;

    @media only screen and (max-width: 767px) {
      max-width: 245.27px;
    }

    height: auto;
    z-index: 2;
  }
}

.intro-container {
  margin-top: 17px;

  .intro-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-title>p {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 77px;
    max-width: 100%;
    min-height: 154px;
    text-align: center;
    background: linear-gradient(90deg, #DDF3FF 0%, #5394FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 700px;
    }

    @media only screen and (max-width: 767px) {
      font-family: Radio Canada;
      font-size: 32px;
      font-weight: 600;
      line-height: 38.4px;
      text-align: center;
      width: 343px;
    }
  }

  .intro-description {
    margin-top: 24px;

    @media only screen and (max-width: 767px) {
      margin-top: 16px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .intro-description>p {
    margin: 0;
    max-width: 940px;
    min-height: 52px;
    font-family: 'Radio Canada';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: rgba(255, 255, 255, 0.64);

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      max-width: 700px;
    }

    @media only screen and (max-width: 767px) {
      font-family: Radio Canada;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.8px;
      text-align: center;
      width: 300px;
    }
  }
}

.overview-container {
  margin-top: 160px;

  @media only screen and (max-width: 767px) {
    margin-top: 100px;
  }

  .mobile-overview-cards {
    @media only screen and (min-width: 768px) {
      display: none;
    }

    text-align: center;

    img.mobile-center-logo {
      width: 60px;
      margin-top: 16px;
      margin-bottom: 20px;
    }
  }


  .overview-cards {
    margin-top: 90px;
    position: relative;
    height: 675px;

    @media only screen and (max-width: 767px) {
      margin-top: 16px;
      display: none;
    }

    .top-left-card {
      position: absolute;
      top: 0;
      right: calc(50% + 88.5px);
    }

    .top-right-card {
      position: absolute;
      top: 0;
      left: calc(50% - 66.5px)
    }

    .bottom-left-card {
      position: absolute;
      top: 422px;
      right: calc(50% - 66.5px);
    }

    .bottom-right-card {
      position: absolute;
      top: 275px;
      left: calc(50% + 88.5px);
    }

    .center-logo {
      position: absolute;
      top: 271px;
      left: calc(50% - 66.5px)
    }

    .top-left-card,
    .bottom-right-card {
      box-sizing: border-box;
      padding: 12px;
      width: 552px;
      height: 400px;
      border-radius: 24px;
      background: url('./assets/short_card_bg.png');
      background-size: cover;

      .title {
        margin-top: 24px;
        margin-bottom: 12px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }

      .content {
        margin-top: 0;
        margin-bottom: 4px;
        width: 386.66px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #CDD5DF;
      }
    }

    .top-right-card,
    .bottom-left-card {
      box-sizing: border-box;
      width: 704px;
      height: 255px;
      border-radius: 24px;
      padding: 12px;
      background: url('./assets/long_card_bg.png');
      display: flex;
      gap: 24px;

      .text {
        .title {
          margin: 0;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 29px;
          color: #FFFFFF;
        }

        .content {
          margin-top: 12px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #CDD5DF;
        }
      }
    }

    .center-logo {
      box-sizing: border-box;
      width: 133px;
    }

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      transform: scale(0.5);
      margin: unset;
    }
  }

  .bottom-right-card {
    background: url('./assets/short_card_bg_2.png') !important;
  }

  .bottom-right-card .content {
    width: unset !important;
  }
}

.ar-container {
  margin-top: 160px;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    margin: unset;
  }

  @media only screen and (max-width: 767px) {
    margin-top: 100px;
  }

  .ar-quotes {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: 767px) {
      margin-top: 16px;
    }

    p {
      margin: 0;
      max-width: 1040px;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      text-align: center;
      color: rgba(255, 255, 255, 0.64);

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 700px;
      }

      @media only screen and (max-width: 767px) {
        font-family: Radio Canada;
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
        text-align: center;
        width: 343px;
      }
    }
  }

  .banner {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
      margin-top: 16px;
    }

    img {
      max-width: 100%;
      height: auto;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        max-width: 700px;
      }

      @media only screen and (max-width: 767px) {
        max-width: 343px;
        height: 300px;
      }
    }
  }
}

.modular-container {
  margin-top: 160px;

  @media only screen and (max-width: 767px) {
    margin-top: 100px;
  }

  .cards-group {

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      transform: scale(0.9);
    }

    .cards-group-top {
      margin-top: 60px;

      @media only screen and (max-width: 767px) {
        margin-top: 40px;
      }

    }

    .cards-group-top,
    .cards-group-bottom {
      display: flex;
      align-items: center;
      justify-content: center;

      @media only screen and (max-width: 767px) {
        display: unset;
      }

      gap: 20px;

      .big-card {
        box-sizing: border-box;
        padding: 11px;
        width: 795px;
        height: 473px;
        background-image: url('./assets/big_card_bg.png');
        background-size: cover;
        border: 1px solid rgba(8, 92, 252, 0.24);
        border-radius: 24px;

        @media only screen and (max-width: 767px) {
          text-align: center;
          padding: 12px;
          margin-bottom: 16px;
        }

        .title {
          /* margin-top: 24px; */
          margin-bottom: 0;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #FFFFFF;
        }

        .content {
          margin-top: 24px;
          margin-bottom: 0;
          max-width: 585px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #CDD5DF;
        }

        @media only screen and (max-width: 767px) {
          width: 343px;
          height: 337px;
          margin-left: auto;
          margin-right: auto;

          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .title {
            font-family: Radio Canada;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            text-align: left;
            width: 100%;
          }

          .content {
            margin-top: 16px;
            text-align: left;
          }
        }
      }

      .small-card {
        box-sizing: border-box;
        padding: 12px 12px 35px 12px;
        width: 465px;
        height: 473px;
        background: rgba(8, 92, 252, 0.08);
        border: 1px solid rgba(8, 92, 252, 0.24);
        border-radius: 24px;

        @media only screen and (max-width: 767px) {
          text-align: center;
          padding: 12px;
          margin-bottom: 16px;
        }


        .small-card-img {
          width: 300px;
          height: 300px;

          @media only screen and (min-width: 768px) and (max-width: 1024px) {
            width: 200px;
            height: 200px;
          }

          @media only screen and (max-width: 767px) {
            text-align: center;
            width: 200px;
            height: 200px;
          }
        }

        .title {
          margin-top: 24px;
          margin-bottom: 0;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: #FFFFFF;
        }

        .content {
          margin-top: 24px;
          margin-bottom: 0;
          max-width: 585px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;
          color: #CDD5DF;
        }

        @media only screen and (max-width: 767px) {
          width: 343px;
          height: 337px;
          margin-left: auto;
          margin-right: auto;

          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;

          .title {
            font-family: Radio Canada;
            font-size: 18px;
            font-weight: 500;
            line-height: 21.6px;
            text-align: left;
            width: 100%;
          }

          .content {
            margin-top: 16px;
            text-align: left;
          }
        }
      }
    }

    .cards-group-bottom {
      margin-top: 24px;

      .small-card {
        padding: 12px 12px 45px 12px;

        @media only screen and (max-width: 767px) {
          padding: 12px;
        }
      }

      .big-card-img {
        margin-top: 24px;
        width: 300px;
        height: 300px;

        @media only screen and (max-width: 767px) {
          margin-top: 0;
          text-align: center;
          width: 200px;
          height: 200px;
        }
      }

      .big-card {
        @media only screen and (max-width: 767px) {
          flex-direction: column-reverse !important;
        }
      }
    }
  }
}

.network-container {
  margin-top: 160px;

  @media only screen and (max-width: 767px) {
    margin-top: 100px;
  }

  .network-bg {
    display: flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
      background: rgba(68, 132, 255, 0.1);
      width: 343px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 24px;
    }

    img {
      max-width: 100%;
      height: auto;

      @media only screen and (max-width: 767px) {
        margin-top: 60px;
        padding-top: 100px;
        width: 343px;
        padding-bottom: 100px;
      }
    }
  }

  .cards-group {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 24px;

    @media only screen and (max-width: 767px) {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 16px;
    }

    .card {
      width: 340px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 200px;
      }

      @media only screen and (max-width: 767px) {
        width: 343px;
      }

      text-align: center;

      .card-icon {
        height: 40px;
        width: 40px;

        @media only screen and (max-width: 767px) {
          height: 24px;
          width: 24px;
        }
      }

      .card-title {
        margin-top: 16px;
        margin-bottom: 11px;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #F4F0FF;
      }

      .card-content {
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: rgba(239, 237, 253, 0.6);
      }
    }
  }
}

.partners-container {
  margin-top: 175px;
  margin-bottom: 23px;

  @media only screen and (max-width: 767px) {
    margin-top: 125px;
  }

  .partners-row {
    margin-top: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
    gap: 31px;

    @media only screen and (max-width: 767px) {
      width: 343px;
      margin-left: auto;
      margin-right: auto;
    }

    .icon {
      height: 55px;
      width: auto;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        height: 30px;
      }
    }
  }
}

.community {
  margin-top: 160px;

  @media only screen and (max-width: 767px) {
    margin-top: 100px;
  }

  .cards-group {
    margin-top: 60px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: 767px) {
      gap: 16px;
    }
    .card {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 24px;
      gap: 36px;

      width: 240px;
      height: 276px;

      @media only screen and (min-width: 768px) and (max-width: 1024px) {
        width: 160px;
        height: 240px;
      }

      background: rgba(8, 92, 252, 0.08);
      border-radius: 24px;
      text-align: center;

      .title {
        margin: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: #FFFFFF;
      }

      .followers {
        margin-top: 10px;
        margin-bottom: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(255, 255, 255, 0.4);
      }
    }

    @media only screen and (max-width: 767px) {
      flex-wrap: wrap;

      .card {
        flex: 0 1 calc(163.5px);
        height: 122px;
        gap: 12px;

        .title {
          font-family: Radio Canada;
          font-size: 16px;
          font-weight: 500;
          line-height: 19.2px;
          text-align: center;
        }

        .followers {
          font-family: Radio Canada;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
          text-align: center;

        }

        img {
          height: 40px;
        }
      }
    }
  }
}

.join {
  margin-top: 195px;
  width: 100%;

  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  height: 440px;
  background: url('./assets/join_bg.png');
  background-size: cover;

  border: 1px solid #4484FF;
  border-radius: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 44px;

  @media only screen and (max-width: 767px) {
    width: 343px;
    height: 392px;
    margin-left: auto;
    margin-right: auto;
  }
  .button-group {
    @media only screen and (max-width: 767px) {
      flex-direction: column !important;
    }
  }
}

.button-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 36px;

  .started {
    cursor: pointer;
    box-sizing: border-box;
    width: 168px;
    height: 48px;
    background: radial-gradient(50% 100% at 50% 100%, #00BCD4 0%, #085CFC 100%);
    box-shadow: inset 0px 2px 2px rgba(239, 239, 239, 0.8);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      height: 19px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin-top: 0.5px;
      margin-bottom: 0.5px;
    }
  }

  .demo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 168px;
    height: 48px;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      height: 19px;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin-top: 0.5px;
      margin-bottom: 0.5px;
    }
  }
}